<h1><%=  Dir.getwd %></h1>

Output generated: <%= Time.now %>

<div class="column-standard flex-center-col flex-col-h-between">
    <section class="section-card-less">
        <h3>
            Run Process
        </h3>
        <form action=<%= request.url + "/doit" %> method="get">
        <input type="submit" name="someAction" value="Begin workflow" />
        </form>
    </section>
    <section class="section-card-less">
        <div id="result-box" class="progress-box">
            Progress box where we have data
        </div>
    </section>
</div>


<div> job <%= @src %> submitted success!!! </div>
<div> job <%= @dest %> submitted success!!! </div>
<div> job <%= @actions %> submitted success!!! </div>
<div> job <%= @folder %> submitted success!!! </div>
<pre>
$ <%= @rimand %>
</pre>
<table class="table table-bordered">
  <tr>
    <th>jobid</th>
    <th>jobname</th>
    <th>ntasks</th>
    <th>epalsed</th>
    <th>stat</th>

  </tr>
  <% @jobs.each do |app| %>
  <tr>
    <td><%= app.jobid %></td>
    <td><%= app.jobname %></td>
    <td><%= app.ntasks %></td>
    <td><%= app.epalsed %></td>
    <td><%= app.stat %></td>
  </tr>
  <% end %>

</table>
