
<!DOCTYPE html>
<head>
    <title>Dashboard</title>
    <link type="text/css" href="/index.css" />
</head>

<h1><%=  Dir.getwd %></h1>

Output generated: <%= Time.now %>

<div class="column-standard flex-center-col flex-col-h-between">
    <section class="section-card-less">
        <h3>
            Run Process
        </h3>

        <a href= <%= request.url + "/doit" %> >
          <button>Visit Google</button>
        </a>

        
    </section>
    <section class="section-card-less">
        <div id="result-box" class="progress-box">
            Progress box where we have data
        </div>
    </section>
</div>


<div> job <%= @jobid %> submitted success!!! </div>
<div> job <%= @error %> error!!! </div>
<div> job <%= @error2 %> error!!! </div>
<pre>
$ <%= @rimand.to_s1 %>
</pre>
<table class="table table-bordered">
  <tr>
    <th>jobid</th>
    <th>jobname</th>
    <th>ntasks</th>
    <th>epalsed</th>
    <th>stat</th>

  </tr>
  <% @jobs.each do |app| %>
  <tr>
    <td><%= app.jobid %></td>
    <td><%= app.jobname %></td>
    <td><%= app.ntasks %></td>
    <td><%= app.epalsed %></td>
    <td><%= app.stat %></td>
  </tr>
  <% end %>

</table>
